.container-fluid-button{

    position: absolute;
    top: 30%;
    left: 70%;
    
    }
    
    div#navbar{
    
    background-color: rgb(10, 10, 10);
    
    }
   
    .navbar-nav .nav-item {
      margin-right: 15px; 
    }

    body{

        background-color: rgb(50, 50, 50);
        
    }